{% extends "base.html" %} 
{% block title%}Admin Login{% endblock %}
{% block css %}{{url_for('static', filename='stylesheets/login.css')}}{% endblock %}
{% block content%}
<div class="main">
<form method="POST">
    <div class="form">
    <h3>Admin Login</h3><br><br>
    <input type="email" name="email" id="email" placeholder="Enter your Email ID">

    <input type="password" name="password" id="password" placeholder="Enter your Password">
    <br><div class="button-group">
    <button type="submit">Login</button>
    <a href="{{ url_for('auth.adminsignup')}}">Sign Up</a>
    </div>
</div></form>


</div>{% endblock %}