{% extends "dashboard.html" %}
{% block title%}User Album{% endblock %}
{%block css %}{{url_for('static', filename='stylesheets/user_songs.css')}}{% endblock %}
{% block main%}
    <h1> All Albums</h1>
    <ul>
        <div class="song-container">
            {% if user_albums == [] %}
            <h3 style="margin: 10px auto;">There hasn't been any Album added by You yet.</h3>
            {% else %}
               
            <li class="song">
                <div class="song-name">
                   <strong>Name</strong>
                </div>
                <div class="artist-name">
                    <strong>Artist</strong>
                </div>
                <div class="avg-rating">
                    <strong>Release Date</strong>
                </div>
                
            </li>

            {% for album in user_albums %}
                <li class="song">
                        
                    <div class="song-name"><a href="{{ url_for('views.view_album', album_id = album.id) }}">
                        {{ album.title }}</a>
                    </div>   
                    <div class="artist-name">
                        {{ album.artist.name if album.artist else 'Unknown' }}
                    </div>
                    <div class="avg-rating">

                        {{ album.release_date }}
                        
                    </div>
                
               
                    
                </li>

            {% endfor %}
            {% endif %}
        </div>
        
    </ul>
    
{% endblock %}
